<!DOCTYPE html>
<html>
  <head>
    <charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="shortcut icon" type="/image/png" href="/images/logo.png">
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Finder</title>
  </head>
  <body>
    <div id="bg-image">
      <div>
      <div> 
        <a href="/">
          <img class="home-logo" src="/images/logo.png">
        </a> 
      </div>
      </div>
      <form>
        <div class="size">
          <div class="candidates">
            <div class="freshers"> <button class="fresher-view button-view" type="button" onclick="addNewJob()"><label>Add New Job</label></button> </div>
            <div class="professionals"> <button class="professional-view button-view" type="button" onclick="candidates()"><label>Candidates Details</label></button> </div>
            <div class="update"> <button class="update-view button-view" type="button" onclick="edit()"><label>Edit Job</label></button> </div>
            <div class="availableJobs"> <button class="jobs-view button-view" type="button" onclick="jobs()"><label>Availabel Jobs</label></button> </div>
          </div>
        </div>
      </form>
    </div>
    </div>
  </body>
</html>